body{
    background-image: url(nature\,.jpeg);
    background-repeat: no-repeat;
   background-size:cover;
}


.First{
    background-color: blue;
}
.second{
    background-image: url(pics.jpg);
    
    
    
}  
 